{% extends "app/layout.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="../../static/app/content/about.css" />

<section class="banner">
    <div class="container">
        <h2><strong>Our Story!</strong></h2>
        <h3><strong>Promoting The Austin, TX Music Scene &#38; Keeping Austin The Live Music Capital of The Workld!</strong></h3>
    </div>
</section>

<div class="container body-content">
    <section class="text">
        <p class="about-p">
            Olidan Studios started in the Summer of 2022 in Austin, TX to promote the Regional Mexican music in the city. With great talents 
            coming from the city but no one interviewing them, promoting their music, or helping the expand internationally, the founders of 
            Olidan Studios took the initiative to promote Regional Mexican artists from Austin, TX. To promote the artists Olidan Studios 
            conducts interviews, video shoots, records music, and connects artists with other record labels.
        </p>
        <p class="about-p" id="p2">
            Due to our team&#39s resources, connections, and business experience in a myriad of industries we can provide artists with the 
            opportunities they have been dreaming of since they started their music careers. Our mission is to help talented musicians reach 
            their next step in their career by providing digital media services to them that will promote them to audiences in other regions. 
            Our vision is to make Austin, TX an important city for Regional Mexican music and providing each artist with an opportunity to 
            reach stardom. 
        </p>    
    </section>

</div>

{% endblock %}
